

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');





* {
  font-family: Lexend Deca, sans-serif;
}




html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.scene {
  width: 60vw;
  height: 60vh;
  margin: 12px;
}

svg * {
  transform: translate3d(0, 0, 0);
}


#btn_export_svg {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #06B6D4;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
 

}





#btn_export_svg:hover {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #0891B2;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.5s all;



}





#btn_export_svg:focus {

outline: none;
padding: 4px;
box-shadow: 
  0 0 0 2.5px #fff,
  0 0 0 6px #0891B2;
  transition: 0.5s all;


}



#app {

display: flex;
flex-direction: column;
align-items: center;



}





#logo {
  margin-bottom: 24px; 
  padding: 12px;
  border-bottom: 1px solid #ebebeb;
}

.logotrble {
  width: 250px;
}






