

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');





* {
  font-family: Lexend Deca, sans-serif;
}




html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.scene {
  width: 60vw;
  height: 60vh;
  margin: 12px;
}

svg * {
  transform: translate3d(0, 0, 0);
}


#btn_export_svg {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #3B82F6;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin: 6px;
 

}





#btn_export_svg:hover {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #2563EB;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.5s all;
  margin: 6px;



}





#btn_export_svg:focus {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #2563EB;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;

outline: none;
/*padding: 4px;*/
box-shadow: 
 /* 0 0 0 2.5px #fff,*/
  0 0 0 6px #2563EB23;
  transition: 0.5s all;
  margin: 6px;


}







#btn_export_png {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #EC4899;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin: 6px;
 

}





#btn_export_png:hover {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #DB2777;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.5s all;
  margin: 6px;



}





#btn_export_png:focus {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #DB2777;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;  
outline: none;
/*padding: 4px;*/
box-shadow: 
 /* 0 0 0 2.5px #fff,*/
  0 0 0 6px #db277834;
  transition: 0.5s all;
  margin: 6px;


}













#btn_export_jpeg {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #6366F1;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin: 6px;
 

}





#btn_export_jpeg:hover {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #4F46E5;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.5s all;
  margin: 6px;



}





#btn_export_jpeg:focus {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #4F46E5;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;  
outline: none;
/*padding: 4px;*/
box-shadow: 
 /* 0 0 0 2.5px #fff,*/
  0 0 0 6px #4e46e528;
  transition: 0.5s all;
  margin: 6px;


}











#btn_copy_svg {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #14B8A6;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin: 6px;
 

}





#btn_copy_svg:hover {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #0D9488;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.5s all;
  margin: 6px;



}





#btn_copy_svg:focus {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 46px;
  left: 314px;
  top: 143px;
  background: #0D9488;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;  
outline: none;
/*padding: 4px;*/
box-shadow: 
 /* 0 0 0 2.5px #fff,*/
  0 0 0 6px #0d948925;
  transition: 0.5s all;
  margin: 6px;


}















#app {

display: flex;
flex-direction: column;
align-items: center;



}




#btns {

display: inline-flex;
flex-direction: row;


}









#logo {
  margin-bottom: 24px; 
  padding: 12px;
  border-bottom: 1px solid #ebebeb;
}

.logotrble {
  width: 250px;
}
